<h2 style="text-align: center"><strong>Frequently Asked Questions</strong></h2>
<br />
<h4>What is Community Plus?</h4>
<p>Community Plus is a web application with the sole aim of boosting safety in your communities.</p>
<h4>What features does Community Plus offer?</h4>
<p>
  Community Plus is designed to provide up-to-date crime alerts, community events, activities, emergency response information, and more.
  Whilst providing these safety and community-oriented features, we are commited to giving our users the best experience possible.
  Therefore, we have developed a user-friendly interface that is easy to navigate and use so key information can be accessed efficiently and
  easily.
</p>
<h4>How can users get started with Community Plus?</h4>
<p>
  Users can get started by creating a profile using email registration through the Home or Profile buttons which are easy to find in the
  navigation bar. For more help or information, please visit the About Us and Home pages.
</p>
<h4>How can users change their profile?</h4>
<p>
  Users can edit their profile through the Profile > User Profile page where information such as username, password and contact details can
  be changed. Users can also access accessibility features such as dark mode and font size.
</p>
<h4>What is the purpose of the Crime Alerts page?</h4>
<p>
  The Crime Alerts page which is the main feature of Community Plus which allows visitors to stay up to date with crimes that are taking
  place in your communities.
</p>
<ul>
  <li>
    Users are able to observe, share and report crimes to cover all necessary details such as location, description, type of crime and date.
  </li>
  <li>Users can filter according to date, crime type and user name to narrow down their searches.</li>
  <li>
    Users can view crime alerts as an interactive map with different location pins to identify crime type. This allows users to observe
    crime alerts in their communities, surrounding areas and nationally.
  </li>
  <li>Users can easily view up-to-date details relevant to the crime alert through the map or list as well as leave comments.</li>
</ul>
<h4>What is the purpose of the Emergency Stations page?</h4>
<p>
  The Emergencey Stations page allows users to view and utilise an interactive map as well as a search bar and filter to locate emergency
  stations such as police stations, fire stations, hospitals and pharmacies.
</p>
<h4>What is the purpose of the Community page?</h4>
<p>The Community Page provides a centralised location to:</p>
<ul>
  <li>View and add local events in the area.</li>
  <li>View and add local businesses to be able to contact them for their services or for advertisement purposes.</li>
  <li>Chat with members of the local community in different rooms which can be related to a certain event for example.</li>
  <li>
    Use an interactive map which allows the user to view the location of local events and businesses in their area for better interaction
    and convenience
  </li>
</ul>
<h4>What is the purpose of the Lost & Found page?</h4>
<p>
  The page allows for users to report any items that they have found, these reports are added to an updated catalogue so that users who have
  lost something can go through these and potentially locate their belonging. These reports include necessary information such as: a
  description of the item, location in which it was found, the date it was found, and contact details of the finder to allow easy navigating
  and collecting of missing items.
</p>
<ul>
  <li>
    Includes an easy to use filter for date, item and location so searches can be narrowed down for users to easily find their lost items.
  </li>
  <li>Lost item reports can be easily created to include important details using the report button.</li>
  <li>
    Created reports can be viewed to show more information or edited to alter information, for example if there is a mistake in details.
  </li>
</ul>
<h4>What is the purpose of the Emergency Response Guide page?</h4>
<p>
  The Emergency Response Guide page is, as in it's name, one of the most informative pages on the website. It provides a myriad of useful
  advice, tips and much more on how to deal with different emergency situations.
</p>
