<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
  integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
  crossorigin=""
/>

<script
  src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
  integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
  crossorigin=""
></script>

<!-- SEARCH PLUGIN BEGINS HERE
<link rel="stylesheet" href="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.css"/>
<script src="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.umd.js"></script>


<link rel="stylesheet" href="../dist/leaflet-search.min.css">
<script src="../dist/leaflet-search.min.js"></script>
SEARCH PLUGIN ENDS HERE -->

<div>
  <h2 id="page-heading" data-cy="EmergencyStationsHeading">
    <!-- <span jhiTranslate="teamprojectApp.emergencyStations.home.title">Emergency Stations</span> -->
    <h1 style="text-align: center"><strong>Emergency Stations</strong></h1>

    <br />

    <div class="searchHolder">
      <input class="searchBar" type="search" placeholder="Search location" style="font-size: 60%" />
      <button class="searchButtons">
        <img src="../../../content/images/Microphone_Button.png" class="SBImages" style="width: auto" />
      </button>
      <button class="searchButtons"><img src="../../../content/images/Location_Button.png" class="SBImages" style="width: auto" /></button>
      <button class="searchButtons"><img src="../../../content/images/Search_Button.png" class="SBImages" style="width: auto" /></button>
    </div>

    <br />

    <div class="holder" id="holder">
      <div class="filters" id="filters">
        <h2>Filters</h2>
        <div class="filterOptionHolder" style="font-size: 65%">
          <input type="checkbox" id="PSCB" /><button class="filterButton" id="PSB" (click)="PSButtonPress()">Police Stations</button>
        </div>
        <div class="filterOptionHolder" style="font-size: 65%">
          <input type="checkbox" id="FSCB" /><button class="filterButton" id="FSB" (click)="FSButtonPress()">Fire Stations</button>
        </div>
        <div class="filterOptionHolder" style="font-size: 65%">
          <input type="checkbox" id="HCB" /><button class="filterButton" id="HB" (click)="HButtonPress()">Hospitals</button>
        </div>
        <div class="filterOptionHolder" style="font-size: 65%">
          <input type="checkbox" id="PCB" /><button class="filterButton" id="PB" (click)="PButtonPress()">Pharmacies</button>
        </div>
      </div>

      <div class="map" id="map"></div>
      <!-- <app-map-input (coordinatesChanged)="onCoordinatesChanged($event)" ></app-map-input> -->
      <!-- AAAAA
      <script>
      var searchControl = new L.Control.Search({
      url: 'https://nominatim.openstreetmap.org/search?format=json&q={s}',
      jsonpParam: 'json_callback',
      propertyName: 'display_name',
      propertyLoc: ['lat','lon'],
      marker: L.circleMarker([0,0],{radius:30}),
      autoCollapse: true,
      autoType: false,
      minLength: 2
      });

      searchControl.on('search:locationfound', function(e) {

      //console.log('search:locationfound', e);

      //map.removeLayer(this._markerSearch)

      e.layer.setStyle({fillColor: '#3f0', color: '#0f0'});
      if(e.layer._popup)
        e.layer.openPopup();

      }).on('search:collapsed', function(e) {

      featuresLayer.eachLayer(function(layer) {   //restore feature color
      featuresLayer.resetStyle(layer);
      });
      });

      map.addControl( searchControl );
      </script>
       BBBBB -->
    </div>

    <br />

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="teamprojectApp.emergencyStations.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-emergency-stations"
        [routerLink]="['/emergency-stations/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="teamprojectApp.emergencyStations.home.createLabel"> Create a new Emergency Stations </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="emergencyStations?.length === 0">
    <span jhiTranslate="teamprojectApp.emergencyStations.home.notFound">No Emergency Stations found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="emergencyStations && emergencyStations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.emergencyStations.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="stationType">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.emergencyStations.stationType">Station Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="wheelchairAccess">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.emergencyStations.wheelchairAccess">Wheelchair Access</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="parking">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.emergencyStations.parking">Parking</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="latitude">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.emergencyStations.latitude">Latitude</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="longitude">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.emergencyStations.longitude">Longitude</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let emergencyStations of emergencyStations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/emergency-stations', emergencyStations.id, 'view']">{{ emergencyStations.id }}</a>
          </td>
          <td>{{ emergencyStations.name }}</td>
          <td jhiTranslate="{{ 'teamprojectApp.StationsCategory.' + emergencyStations.stationType }}">
            {{ emergencyStations.stationType }}
          </td>
          <td>{{ emergencyStations.wheelchairAccess }}</td>
          <td>{{ emergencyStations.parking }}</td>
          <td>{{ emergencyStations.latitude }}</td>
          <td>{{ emergencyStations.longitude }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/emergency-stations', emergencyStations.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/emergency-stations', emergencyStations.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(emergencyStations)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
