<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-4 col-6 mb-3">
        <button routerLink="about-us" class="btn btn-link">About us</button>
      </div>
      <div class="col-md-2 col-sm-4 col-6 mb-3">
        <button routerLink="faqs" class="btn btn-link">FAQs</button>
      </div>
      <div class="col-md-2 col-sm-4 col-6 mb-3">
        <button routerLink="privacy-policy" class="btn btn-link">Privacy Policy</button>
      </div>
      <div class="col-md-3 col-sm-6 col-12 mb-3">
        <button routerLink="terms-and-conditions" class="btn btn-link">Terms and Conditions</button>
      </div>
      <div class="col-md-3 col-sm-6 col-12 mb-3">
        <button routerLink="accessibility" class="btn btn-link">Accessibility</button>
      </div>
    </div>
  </div>
</footer>
