<div>
  <h2 id="page-heading" data-cy="EmergencyGuidePageHeading">
    <span jhiTranslate="teamprojectApp.emergencyGuidePage.home.title">Emergency Response Guide</span>
  </h2>

  <div class="page-summary" role="presentation">
    <p>
      There are many emergency situations that you may come across. Find out more information in the sections below - preparation is the
      most assured safety.
    </p>
  </div>

  <nav class="sub-menu toc-menu" aria-labelledby="toc-menu-heading">
    <h2 id="toc-menu-heading" class="menu-title">Contents</h2>
    <ul class="nav-menu">
      <li class="nav-item"><a href="#toc-0">Fire</a></li>
      <li class="nav-item"><a href="#toc-3">Car Accident</a></li>
      <li class="nav-item"><a href="#toc-4">Knife Crime</a></li>
      <li class="nav-item"><a href="#toc-5">Theft</a></li>
      <li class="nav-item"><a href="#toc-7">Injury/Bleeding</a></li>
      <li class="nav-item"><a href="#toc-7">Not Breathing/CPR</a></li>
      <li class="nav-item"><a href="#toc-1">Terrorism</a></li>
      <li class="nav-item"><a href="#toc-6">Poisoning</a></li>
      <li class="nav-item"><a href="#toc-2">Chemical Incident</a></li>
    </ul>
  </nav>

  <h2 id="toc-0">Fire</h2>
  <p>If your clothes catch on fire:</p>
  <p>
    Stop what you're doing. Drop to the ground and cover your face if you can. <br />
    Roll over and over or back and forth until the flames go out. Running will only make the fire burn faster.<br />
    Once the flames are out, cool the burned skin with water for three to five minutes. Call for medical attention.
  </p>

  <img src="stopdroproll.jpg" alt="Stop Drop and Roll" />

  <p>Tips for staying safe:</p>
  <ul>
    <li>If there is a fire extinguisher in the vicinity, follow the instructions shown to operate it safely</li>
    <li>Remember to GET OUT, STAY OUT and CALL 9-9-9 or your local emergency phone number.</li>
    <li>Alert people of the fire. Always use the stairs instead of an elevator. Leave your belongings where they are and save yourself.</li>
    <li>Never open doors that are warm to the touch. If handles are warm or smoke blocks your primary escape, use a second exit.</li>
    <li>If you must escape through smoke, get low and go under the smoke to your exit. Close doors behind you.</li>
    <li>
      If smoke, heat or flames block your exit routes, stay in the room with doors closed. Place a wet towel under the door and call the
      fire department or 9-9-9. Open a window and wave a brightly colored cloth or flashlight to signal for help.
    </li>
    <li>
      Once you are outside, go to your meeting place and then send one person to call the fire department. If you cannot get to your meeting
      place, follow your family emergency communication plan.
    </li>
  </ul>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="emergencyGuidePages?.length === 0">
    <span jhiTranslate="teamprojectApp.emergencyGuidePage.home.notFound">No Emergency Guide Pages found</span>
  </div>
</div>
