<div>
  <h2 id="page-heading" data-cy="EmergencyGuidePageHeading">
    <span jhiTranslate="teamprojectApp.emergencyGuidePage.home.title">Emergency Guide</span>

    <br />
    <br />

    <div class="intro">
      <div class="text" style="height: 100%" style="width: 20%" style="display: inline-block">
        <strong
          >Our <br />
          eMergency <br />
          Guide</strong
        >
      </div>
      <div class="text" style="height: 100%" style="width: 78%" style="display: inline-block" style="margin-left: 1.5%">
        Intro to the emergency guide
      </div>
    </div>

    <br />
    <br />

    <div class="searchHolder">
      <div class="input-group mb-0">
        <input type="search" class="searchBar" placeholder="What is your emergency?" />
        <div class="input-group-prepend">
          <span class="input-group-text"><fa-icon icon="paper-plane"></fa-icon></span>
        </div>
      </div>
    </div>

    <br />

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="teamprojectApp.emergencyGuidePage.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-emergency-guide-page"
        [routerLink]="['/emergency-guide-page/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="teamprojectApp.emergencyGuidePage.home.createLabel"> Create a new Emergency Guide Page </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="emergencyGuidePages?.length === 0">
    <span jhiTranslate="teamprojectApp.emergencyGuidePage.home.notFound">No Emergency Guide Pages found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="emergencyGuidePages && emergencyGuidePages.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="emergencyType">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.emergencyGuidePage.emergencyType">Emergency Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let emergencyGuidePage of emergencyGuidePages; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/emergency-guide-page', emergencyGuidePage.id, 'view']">{{ emergencyGuidePage.id }}</a>
          </td>
          <td>{{ emergencyGuidePage.emergencyType }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/emergency-guide-page', emergencyGuidePage.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/emergency-guide-page', emergencyGuidePage.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(emergencyGuidePage)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
