<div>
  <h2 id="page-heading" data-cy="EmergencyGuidePageHeading">
    <!-- <span jhiTranslate="teamprojectApp.emergencyGuidePage.home.title">Emergency Response Guide</span> -->
    <h1 style="text-align: center"><strong>Emergency Response Guide</strong></h1>
  </h2>

  <br />

  <div class="page-summary" role="presentation">
    <p style="padding: 10px; border: 2px solid rgb(72, 62, 111); width: 70%; font-weight: bold; font-size: 20px">
      There are many emergency situations that you may come across.
      <br />Find out more information in the sections below - preparation is the most assured safety. <br />This page cannot cover all
      eventualities however.
    </p>
  </div>

  <br />
  <br />
  <br />

  <nav class="sub-menu toc-menu" aria-labelledby="toc-menu-heading" style="font-size: 20px">
    <h2 id="toc-menu-heading" class="menu-title">Contents</h2>
    <ul class="nav-menu">
      <li><a href="#section1">Fire</a></li>
      <li><a href="#section2">Traffic Accident</a></li>
      <li><a href="#section3">Stabbing</a></li>
      <li><a href="#section4">Theft and Burglary</a></li>
      <li><a href="#section5">Chemical Incident and Poisoning</a></li>
      <li><a href="#section6">Not Breathing/CPR</a></li>
      <li><a href="#section7">Acts of Terrorism</a></li>
      <li><a href="#section8">Emergency hotlines</a></li>
    </ul>
  </nav>

  <br />
  <br />
  <br />

  <div id="section1">
    <h2>Fire</h2>
  </div>
  <br />
  <p>If your clothes catch on fire:</p>
  <p>
    <strong>Stop</strong> what you're doing. <br /><strong>Drop</strong> to the ground and cover your face if you can. <br />
    <strong>Roll</strong> over and over or back and forth until the flames go out. Running will only make the fire burn faster. <br />Once
    the flames are out, cool the burned skin with water for three to five minutes. Call for medical attention.<br />
  </p>
  <br />

  <img src="../../../../content/images/stopdroproll.jpg" alt="Stop Drop and Roll image" />
  <br />
  <br />

  <p>Tips for staying safe:</p>
  <ul>
    <li>If there is a fire extinguisher in the vicinity, follow the instructions shown to operate it safely</li>
    <li>Remember to <strong>GET OUT, STAY OUT and CALL 999</strong> or your local emergency phone number</li>
    <li>Alert people of the fire. Always use the stairs instead of an elevator. Leave your belongings where they are and save yourself</li>
    <li>Never open doors that are warm to the touch. If handles are warm or smoke blocks your primary escape, use a second exit</li>
    <li>If you must escape through smoke, get low and go under the smoke to your exit. Close doors behind you</li>
    <li>
      If smoke, heat or flames block your exit routes, stay in the room with doors closed. Place a wet towel under the door and call the
      fire department or 999. Open a window and wave a brightly colored cloth or flashlight to signal for help
    </li>
    <li>
      Once you are outside, go to your meeting place and then send one person to call the fire department. If you cannot get to your meeting
      place, follow your family emergency communication plan
    </li>
  </ul>

  <br />
  <br />
  <br />

  <div id="section2">
    <h2>Traffic Accident</h2>
  </div>
  <br />
  <p>What to do when encountering a traffic accident:</p>
  <ul>
    <li>Make sure the incident area is safe for yourself and others</li>
    <li>Park safely and well away from the incident. Make sure you turn on your hazard lights</li>
    <li>Make vehicles safe by switching off the ignition of all damaged and surrounding cars and if you can, disconnect the battery</li>
    <li>Be alert for physical dangers such as traffic and make sure no one smokes near the incident</li>
    <li>
      On large diesel vehicles this is marked on the outside. <br />Make vehicles stable. Apply the handbrake, put them in gear or put a
      block in front of the wheels if the vehicle is upright.<br />
      If it is on it's side, try to stop it rolling over further, but do not attempt to move it
    </li>
    <li>Call the emergency services to report damaged power lines, spilt fuel or vehicles carrying hazardous substances</li>
  </ul>
  <br />

  <img
    src="../../../../content/images/emergency-response-to-accident-person-4721795-3957464.webp"
    alt="Car Accident Image"
    width="600px"
    height="auto"
  />
  <br />
  <br />

  <p>Assessing the casualties:</p>
  <ul>
    <li>Call 999 or 112 straight away</li>
    <li>
      Assess the casualties quickly by doing the primary survey <br />1. Check for <strong>Danger.</strong><br />
      2. Check for a <strong>Response.</strong> <br />3. Open <strong>Airway.</strong><br />
      4. Check <strong>Breathing.</strong> <br />5. Check <strong>Circulation</strong><br />
    </li>
    <li>
      Treat anyone with life threatening injuries first - Assume that anyone involved in the accident may have neck or spinal injuries
    </li>
    <li>Treat the casualties in the position you find them if possible and make sure you support their head and neck at all times</li>
    <li>
      Make sure you search the surrounding area so that casualties who are not in the immediate incident area are found and treated - ask
      others to do this if they are available
    </li>
    <li>If anyone is trapped inside or under a vehicle, the fire service will need to help them</li>
    <li>Monitor the casualties and record their breathing, pulse and level of response</li>
  </ul>

  <br />
  <br />
  <br />

  <div id="section3">
    <h2>Stabbing</h2>
  </div>
  <br />
  <p>
    Anyone who's been stabbed needs immediate help - their life could be at risk. <br />Just follow these steps and you could save someone's
    life:<br />
  </p>
  <ul>
    <li>Put pressure on the wound to help stop or slow the blood flow</li>
    <li>Call 999</li>
    <li>Keep pressure on the wound until an ambulance arrives</li>
    <li>If there is an object in the wound, don't remove it as this could make the bleeding a lot worse. Apply pressure around it.</li>
  </ul>
  <br />

  <img src="../../../../content/images/applying-pressure-wound.webp" alt="Applying pressure to a wound image" width="300px" height="auto" />
  <br />
  <br />

  <p>
    If the person looks pale, feels cold and is dizzy, this means there isnit enough blood flowing through the body. <br />This physical
    response to an injury is called shock, and it can be life-threatening. <br />
    If you suspect someone is going into shock:
  </p>
  <ul>
    <li>Continue to apply pressure to the wound to stop the blood coming out</li>
    <li>
      Lie them down and lift their feet higher than the rest of their body. <br />This keeps their legs higher than their heart, which helps
      increase blood flow to their brain and heart<br />
    </li>
    <li>Reassure them and wrap them in coats or a blanket to keep them warm</li>
  </ul>

  <br />
  <br />
  <br />

  <div id="section4">
    <h2>Theft and Burglary</h2>
  </div>
  <br />
  <p>
    A theft or burglary can be a horrifying experience - an invasion of privacy and personal safety.
    <br />
    Here's what you can do if you ever experience it:<br />
  </p>
  <ul>
    <li>
      Phone the police on 101 to report the burglary. If you think the intruder(s) is still inside the property, dial 999 and if you're
      worried that they might hear you, use the 'silent 999 call' option by pressing 55
    </li>
    <li>Move yourself to a point of safety and never try to confront an intruder</li>
    <li>
      Until the police have assessed the situation, don't touch anything such as surfaces or entry points as there might be footprints,
      fingerprints or DNA evidence that the police can use
    </li>
    <li>When the police arrive, give as many specific details as you can i.e. time</li>
    <li>
      You will gain a police crime reference number (this is very important for your insurance). Whilst the police are in your property, do
      take your own photos of the property and damage
    </li>
    <li>
      Create a list of all missing items. Do check any sheds or garages as it might be that the burglar used one of your tools, or a ladder,
      for entry
    </li>
    <li>
      Call your home insurance company (within 24 hours of finding out about the burglary) and provide the crime reference number the police
      gave you. <br />Provide the list you have of stolen items and around any damage. The insurance company might expect proof of purchase
      or will seek extra information.<br />
    </li>
  </ul>
  <br />

  <img src="../../../../content/images/stolen-electronics.webp" alt="Burglary image" width="300px" height="auto" />
  <br />
  <br />

  <p>Tips for preventing theft</p>
  <ul>
    <li>
      Thieves often target people who are distracted, so keeping your valuables including your mobile phone and other devices hidden ensures
      you're more alert
    </li>
    <li>Stay alert when walking along the road for criminals who might use bikes/mopeds or e-scooters to snatch phones/valuables</li>
    <li>Earbuds/headphones can be a distraction</li>
    <li>Consider getting an alarm system installed</li>
    <li>Never leave your valuable items unattended even for a moment in a public setting</li>
    <li>Make sure software for being able to locate your phone is installed</li>
  </ul>

  <br />
  <br />
  <br />

  <div id="section5">
    <h2>Chemical Incident and Poisoning</h2>
  </div>
  <br />
  <p>
    Under certain conditions, chemicals can also be poisonous or have a harmful effect on your health.
    <br />
    Some chemicals that are safe, and even helpful in small amounts, can be harmful in larger quantities or under certain conditions.<br />
    Chemical accidents do happen, at home and in the community.
    <br />You may be exposed to a chemical in three ways:<br />
  </p>
  <ul>
    <li>Breathing the chemical</li>
    <li>Swallowing contaminated food, water, or medication</li>
    <li>Touching the chemical, or coming into contact with clothing or things that have touched the chemical</li>
  </ul>
  <p>Remember, you can be exposed to chemicals even though you may not be able to see or smell anything unusual.</p>
  <p>Here are a few simple precautions that can help you avoid many chemical emergencies:</p>
  <ul>
    <li>Avoid mixing chemicals, even common household products. Some combinations, such as ammonia and bleach, can create toxic gases</li>
    <li>Always read and follow the directions when using chemical products</li>
    <li>Clean up any spills immediately, being careful to protect your eyes and skin</li>
    <li>
      Never smoke while using household chemicals. Don't use hair spray, cleaning solutions, paint products, or pesticides near the open
      flame
    </li>
  </ul>
  <br />

  <img src="../../../../content/images/Household_Chemicals_Header_001.webp" alt="Household chemicals image" width="550px" height="auto" />
  <br />

  <br />
  <br />

  <h2>In case of Poisoning:</h2>
  <br />
  <p>
    The most common home chemical emergencies involve small children eating medicines. <br />Keep all medicines, cosmetics, cleaning
    products, and other household chemicals out of sight and out of reach of children.<br />
  </p>

  <p>
    If someone in your home does eat or drink a non-food substance, find the container it came out of immediately and take it with you to
    the phone. <br />Call Emergency Services, or 999 to inform the operator of what was exactly ingested.<br />
  </p>

  <p>
    Follow their instructions carefully. Please be aware that the First Aid advice found on the container may not be appropriate. <br />So,
    do not give anything by mouth until you have been advised by medical professionals. <br />
  </p>

  <br />
  <br />
  <br />

  <div id="section6">
    <h2>Not Breathing/CPR</h2>
  </div>
  <br />
  <p>
    This advice is for helping an
    <strong>adult:</strong>
  </p>
  <ul>
    <li>
      Check breathing by tilting their head back and looking and feeling for breaths <br />When a person is unresponsive, their muscles
      relax and their tongue can block their airway so they can no longer breathe.<br />
      Tilting their head back opens the airway by pulling the tongue forward
    </li>
    <li>Call 999 as soon as possible, or get someone else to do it</li>
    <li>If unresponsive, give chest compressions: push firmly downwards in the middle of the chest and then release at a regular rate</li>
    <li>
      If you feel able to, combine chest compressions with breathing into their mouth or nose. <br />However, chest compressions are top
      priority for try and keep oxygen flowing to the brain<br />
    </li>
  </ul>
  <br />

  <iframe width="640" height="360" src="https://youtu.be/embed/BQNNOh8c8ks" alt="Video on how to do CPR on an adult"> </iframe>

  <br />
  <br />

  <p>
    This advice is for helping a
    <strong>child:</strong>
  </p>
  <ul>
    <li>
      Like the adult, check for breathing by tilting their head back and sensing for breaths. <br />Do this for no longer than 10 seconds<br />
    </li>
    <li>Tell someone to call 999. If alone, call 999 after you've spent one minute giving them rescue breaths and chest compressions</li>
    <li>Give five rescue breaths: tilt their head back, seal your mouth over their mouth and nose. Blow five times into the baby</li>
    <li>
      Give 30 chest compressions: push firmly in the middle of their chest with two fingers so that the chest goes inward, then release
    </li>
    <li>Give two rescue breaths. Continue with cycles of 30 chest compressions and two rescue breaths until help arrives</li>
  </ul>

  <br />

  <iframe width="640" height="360" src="https://youtu.be/embed/avYRvVHAvfM" alt="Video on how to do CPR on a baby"> </iframe>

  <br />
  <br />
  <br />

  <div id="section7">
    <h2>Acts of Terrorism</h2>
  </div>
  <br />
  <p>
    If you witness an act of terrorism either at home or abroad there are three basic steps that you should follow: <br /><strong
      >RUN</strong
    >
    - to a place of safety. This is better than trying to surrender or negotiate.<br />
    <strong>HIDE</strong> - it is better to hide than confront. Barricade yourself in, turn your phone to silent and use only when it safe
    to do so. <br /><strong>TELL</strong> - Alert police. Make sure you know the local emergency number - in the UK it's 999, for EU
    countries it's 112.<br />
  </p>

  <img src="../../../../content/images/runhidetell.jpg" alt="Run Hide and Tell image" width="600px" height="auto" />
  <br />
  <br />

  <p>If an event of Terrorism Occurs:</p>
  <ul>
    <li>Remain calm and be patient</li>
    <li>Follow the advice of local emergency officials</li>
    <li>Listen to your radio or television for news and instructions</li>
    <li>If the event occurs near you, check for injuries. Give first aid and get help for seriously injured people</li>
    <li>
      If the event occurs near your home while you are there, check for damage using a flashlight. Do not light matches or candles or turn
      on electrical switches. Check for fires, fire hazards and other household hazards. Sniff for gas leaks, starting at the water heater.
      If you smell gas or suspect a leak, turn off the main gas valve, open windows, and get everyone outside quickly
    </li>
    <li>Shut off any other damaged utilities</li>
    <li>Confine or secure your pets</li>
    <li>Call your family contact—do not use the telephone again unless it is a life-threatening emergency</li>
  </ul>

  <br />
  <br />
  <br />

  <div id="section8">
    <h2>Emergency hotlines</h2>
  </div>
  <br />
  <p><strong>In an emergency and need immediate help:</strong></p>
  <ul>
    <li>Call <strong>999</strong> or go to your local A&E department</li>
  </ul>

  <br />

  <p><strong>If you're in crisis and need to speak to someone:</strong></p>
  <ul>
    <li>Call <strong>NHS 111</strong> (for when you need help but are not in immediate danger)</li>
    <li>Use the 'Shout' crisis text line - text <strong>SHOUT to 85258</strong></li>
    <li>
      Contact the Samaritans (24 hour confidential emotional support for people who are experiencing feelings of distress, despair or
      suicidal thoughts) <br /><strong>116 123 - www.samaritans.org</strong><br />
    </li>
  </ul>

  <br />

  <p><strong>Other sources of support and advice:</strong></p>
  <ul>
    <li>
      Mind - for people experiencing a mental health difficulty <br /><strong
        >InfoLine: 0300 123 3393 to call, or text 86463 - www.mind.org.uk</strong
      ><br />
    </li>
    <li>National Suicide Prevention Helpline UK - <strong>0800 689 5652</strong> (6pm-3:30am every day)</li>
    <li>
      Childline - offers 24-hour free, private and confidential services to children and parents throughout the UK <br /><strong
        >0800 1111</strong
      ><br />
    </li>
    <li>
      Refuge - offers 24-hour services and support to women and children in the UK who are experiencing domestic abuse <br /><strong
        >0808 2000 247</strong
      ><br />
    </li>
    <li>
      Rape Crisis - provide information and support to all those affected by all forms of sexual violence and abuse <br /><strong
        >0808 500 2222</strong
      ><br />
    </li>
  </ul>

  <br />

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>
</div>
