<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="userProfile" class="userp">
      <h2 class="text-center" effect="drop-shadow">User Profile - {{ userProfile.username }}</h2>

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <div class="box box1"></div>
      <div class="box box2"></div>
      <div class="box box3"></div>
      <div class="box box4"></div>
      <div class="bio bio">Bio :{{ userProfile.bio }}</div>
      <div class="bio info">
        Name: {{ userProfile.firstnames }} {{ userProfile.lastname }}<br />
        Age: {{ userProfile.age }}<br />
        Occupation: {{ userProfile.occupation }}<br />
        Community Points: {{ userProfile.communityPoints }}<br />
        Joined: {{ userProfile.userID }}
      </div>

      <img
        src="../content/images/userprofile.jpeg"
        style="width: 341px; height: 280px; border-radius: 300px; position: absolute; top: 102px; left: 102px"
      />
      <style>
        .userp {
          width: 782px;
          height: 800px;
        }

        .box {
          height: 688px;
          border-radius: 25px;
          position: absolute;
          top: 70px;
          opacity: 33%;
        }
        .bio {
          position: absolute;
          width: 341px;
          height: 152px;
          left: 102px;
          top: 572px;
          display: block;

          border-radius: 25px;
          text-align: center;
          padding-bottom: 120px;
          padding-right: 10px;
          padding-left: 10px;
          padding-top: 10px;
          overflow: hidden;
          word-wrap: break-word;
        }
        .info {
          top: 406px;
        }

        .btn {
          height: 46px;
          width: 274px;
          border-radius: 10px;
          background-color: #c6c6c6;
          position: absolute;
          left: 579px;
          top: 386px;
          font-size: 25px;
          opacity: 70%;
        }

        .box1 {
          width: 432px;
          background-color: #d9d9d9;
          left: 56px;
          opacity: 33%;
          box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
        }

        .box2 {
          width: 699px;
          background-color: #d9d9d9;
          left: 520px;
          box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
        }
        .box3 {
          width: 341px;
          height: 152px;
          background-color: #ebebeb;
          left: 102px;
          top: 572px;
        }

        .box4 {
          width: 341px;
          height: 152px;
          background-color: #ebebeb;
          left: 102px;
          top: 406px;
        }

        .btn-info {
          left: 56px;
          top: 760px;
        }
        .btn-primary {
          left: 106px;
          top: 760px;
        }

        .btn-un {
          top: 430px;
        }

        .btn-oc {
          top: 504px;
        }

        .btn-pa {
          left: 904px;
          top: 430px;
        }

        .btn-bio {
          left: 904px;
          top: 504px;
        }

        .btn-pn {
          top: 652px;
        }

        .btn-add {
          top: 578px;
        }

        .btn-ea {
          left: 904px;
          top: 578px;
        }

        .btn-lan {
          left: 904px;
          top: 652px;
        }

        .btn-ver {
          top: 106px;
        }

        .btn-pub {
          left: 904px;
          top: 106px;
        }

        .btn-set {
          top: 179px;
        }

        .btn-deac {
          left: 904px;
          top: 179px;
        }

        .btn-dark {
          top: 253px;
        }

        .btn-fontp {
          width: 132px;
          left: 1046px;
          top: 253px;
        }

        .btn-fontm {
          width: 132px;
          left: 904px;
          top: 253px;
        }
      </style>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/user-profile', userProfile.id, 'edit']" class="btn btn-un">
        <span>User Name</span>
      </button>

      <button type="button" [routerLink]="['/user-profile', userProfile.id, 'edit']" class="btn btn-oc">
        <span>Occupation</span>
      </button>

      <button type="button" [routerLink]="['/account/password']" class="btn btn-pa">
        <span>Password</span>
      </button>

      <button type="button" [routerLink]="['/user-profile', userProfile.id, 'edit']" class="btn btn-bio">
        <span>Bio</span>
      </button>

      <button type="button" [routerLink]="['/user-profile', userProfile.id, 'edit']" class="btn btn-pn">
        <span>Phone Number</span>
      </button>

      <button type="button" [routerLink]="['/user-profile', userProfile.id, 'edit']" class="btn btn-add">
        <span>Address</span>
      </button>

      <button type="button" [routerLink]="['/user-profile', userProfile.id, 'edit']" class="btn btn-ea">
        <span>Email Address</span>
      </button>

      <button type="button" [routerLink]="['/user-profile', userProfile.id, 'edit']" class="btn btn-lan">
        <span>Langauge</span>
      </button>

      <button type="button" (click)="verify()" class="btn btn-ver">
        <span>{{ verr }}</span>
      </button>

      <button type="button" (click)="pub()" class="btn btn-pub">
        <span>{{ pubb }} </span>
      </button>

      <button type="button" [routerLink]="['/account/settings']" class="btn btn-set">
        <span>Settings</span>
      </button>

      <button type="button" (click)="userProfileService.delete(userProfile.id)" class="btn btn-deac">
        <span>Deactivate</span>
      </button>

      <button type="button" (click)="darkmode()" class="btn btn-dark">
        <span>Darkmode</span>
      </button>

      <button type="button" (click)="fontplus()" class="btn btn-fontp">
        <span>Fontsize +</span>
      </button>

      <button type="button" (click)="fontminus()" class="btn btn-fontm">
        <span>Fontsize -</span>
      </button>

      <style>
        .footer {
          position: absolute;
          bottom: 0;
          width: 100%;
        }
      </style>
    </div>
    <style>
      .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
    </style>
  </div>
  <style>
    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  </style>
</div>

<style>
  .footer {
    position: absolute;
    top: 950px;
    width: 100%;
  }
</style>
