<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="emergencyStationsPage">
      <h2 data-cy="emergencyStationsPageDetailsHeading">
        <span jhiTranslate="teamprojectApp.emergencyStationsPage.detail.title">Emergency Stations Page</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ emergencyStationsPage.id }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.emergencyStationsPage.name">Name</span></dt>
        <dd>
          <span>{{ emergencyStationsPage.name }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.emergencyStationsPage.stationType">Station Type</span></dt>
        <dd>
          <span>{{ emergencyStationsPage.stationType }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.emergencyStationsPage.latitude">Latitude</span></dt>
        <dd>
          <span>{{ emergencyStationsPage.latitude }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.emergencyStationsPage.longitude">Longitude</span></dt>
        <dd>
          <span>{{ emergencyStationsPage.longitude }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/emergency-stations-page', emergencyStationsPage.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
