<div *ngIf="userProfiles && userProfiles.length > 0">
  <h2 class="text-center">User Profile - {{ userProfiles[2].username }}</h2>

  <div class="table-responsive table-entities" id="entities" *ngIf="userProfiles && userProfiles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="username">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.userProfile.username">Username</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="firstnames">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.userProfile.firstnames">Firstnames</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastname">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.userProfile.lastname">Lastname</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="password">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.userProfile.password">Password</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="email">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.userProfile.email">Email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="language">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.userProfile.language">Language</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="verified">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.userProfile.verified">Verified</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="privateAccount">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.userProfile.privateAccount">Private Account</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="age">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.userProfile.age">Age</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="accountType">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.userProfile.accountType">Account Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="occupation">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.userProfile.occupation">Occupation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="streetAddress">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.userProfile.streetAddress">Street Address</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="city">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.userProfile.city">City</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="postalCode">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.userProfile.postalCode">Postal Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bio">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.userProfile.bio">Bio</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="phoneNumber">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.userProfile.phoneNumber">Phone Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="communityPoints">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.userProfile.communityPoints">Community Points</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="gPS">
            <div class="d-flex">
              <span>GPS</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="darkmode">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.userProfile.darkmode">Darkmode</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fontsize">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.userProfile.fontsize">Fontsize</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="userID.id">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.userProfile.userID">User ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let userProfile of userProfiles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/user-profile', userProfile.id, 'view']">{{ userProfile.id }}</a>
          </td>
          <td>{{ userProfile.username }}</td>
          <td>{{ userProfile.firstnames }}</td>
          <td>{{ userProfile.lastname }}</td>
          <td>{{ userProfile.password }}</td>
          <td>{{ userProfile.email }}</td>
          <td>{{ userProfile.language }}</td>
          <td>{{ userProfile.verified }}</td>
          <td>{{ userProfile.privateAccount }}</td>
          <td>{{ userProfile.age }}</td>
          <td>{{ userProfile.accountType }}</td>
          <td>{{ userProfile.occupation }}</td>
          <td>{{ userProfile.streetAddress }}</td>
          <td>{{ userProfile.city }}</td>
          <td>{{ userProfile.postalCode }}</td>
          <td>{{ userProfile.bio }}</td>
          <td>{{ userProfile.phoneNumber }}</td>
          <td>{{ userProfile.communityPoints }}</td>
          <td>{{ userProfile.gPS }}</td>
          <td>{{ userProfile.darkmode }}</td>
          <td>{{ userProfile.fontsize }}</td>
          <td>
            {{ userProfile.userID?.id }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/user-profile', userProfile.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/account', userProfile.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(userProfile)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
