<h1>Privacy Policy for Community Plus</h1>
<div>
  <p>This privacy policy will explain how our organization uses the personal data we collect from you when you use our website.&nbsp;</p>
  <p><br /></p>
</div>
<div>
  <div>
    <p>Topics:&nbsp;</p>
  </div>
  <div>
    <ol start="1">
      <li>
        <p>What data do we collect?&nbsp;</p>
      </li>
    </ol>
  </div>
  <div>
    <ol start="2">
      <li>
        <p>How do we collect your data?&nbsp;</p>
      </li>
    </ol>
  </div>
  <div>
    <ol start="3">
      <li>
        <p>How will we use your data?&nbsp;</p>
      </li>
    </ol>
  </div>
</div>
<div>
  <div>
    <ol start="4">
      <li>
        <p>How do we store your data?&nbsp;</p>
      </li>
    </ol>
  </div>
  <div>
    <ol start="5">
      <li>
        <p>What are your data protection rights?&nbsp;</p>
      </li>
    </ol>
  </div>
  <div>
    <ol start="6">
      <li>
        <p>What are cookies?&nbsp;</p>
      </li>
    </ol>
  </div>
  <div>
    <ol start="7">
      <li>
        <p>How do we use cookies?&nbsp;</p>
      </li>
    </ol>
  </div>
  <div>
    <ol start="8">
      <li>
        <p>What types of cookies do we use?&nbsp;</p>
      </li>
    </ol>
  </div>
</div>
<div>
  <div>
    <ol start="9">
      <li>
        <p>How to manage your cookies&nbsp;</p>
      </li>
    </ol>
  </div>
  <div>
    <ol start="10">
      <li>
        <p>Privacy policies of other websites&nbsp;</p>
      </li>
    </ol>
  </div>
  <div>
    <ol start="11">
      <li>
        <p>Changes to our privacy policy&nbsp;</p>
      </li>
    </ol>
  </div>
  <div>
    <ol start="12">
      <li>
        <p>How to contact us&nbsp;</p>
      </li>
    </ol>
  </div>
  <div>
    <ol start="13">
      <li>
        <p>How to contact the&nbsp;appropriate authorities&nbsp;</p>
      </li>
    </ol>
  </div>
</div>
<div>
  <div>
    <p>&nbsp;&nbsp;</p>
  </div>
  <div>
    <p>What data do we collect?&nbsp;</p>
  </div>
  <div>
    <p>Community Plus collects the following data:&nbsp;</p>
  </div>
  <div>
    <ul>
      <li>
        <p>Personal identification information (Name, email address, phone number, address,&nbsp;occupation&nbsp;and bio)&nbsp;</p>
      </li>
      <li>
        <p>Business names and locations&nbsp;</p>
      </li>
    </ul>
  </div>
</div>
<div>
  <div>
    <ul>
      <li>
        <p>Communications&nbsp;</p>
      </li>
      <li>
        <p>GPS location&nbsp;</p>
      </li>
    </ul>
  </div>
  <div>
    <p>&nbsp;&nbsp;</p>
  </div>
  <div>
    <p>How do we collect your data?&nbsp;</p>
  </div>
  <div>
    <p>You directly provide Community Plus with most of the data we collect. We collect data and process data when you:&nbsp;</p>
  </div>
</div>
<div>
  <div>
    <ul>
      <li>
        <p>Register online for our service&nbsp;</p>
      </li>
      <li>
        <p>Voluntarily complete a customer survey or&nbsp;provide&nbsp;feedback via email.&nbsp;</p>
      </li>
      <li>
        <p>Use or view our website via your browser&apos;s cookies.&nbsp;</p>
      </li>
    </ul>
  </div>
  <div>
    <p>&nbsp;&nbsp;</p>
  </div>
  <div>
    <p>How will we use your data?&nbsp;</p>
  </div>
</div>
<div>
  <div>
    <p>&nbsp;</p>
  </div>
  <div>
    <p>Community Plus collects your data so that we can:&nbsp;</p>
  </div>
  <div>
    <ul>
      <li>
        <p>Ensure features are presented correctly for your purpose and use&nbsp;</p>
      </li>
      <li>
        <p>Ensure the most up to date and&nbsp;accurate&nbsp;information is displayed&nbsp;&nbsp;</p>
      </li>
      <li>
        <p>Ensure the safety of others by confirming your identity&nbsp;</p>
      </li>
    </ul>
  </div>
</div>
<div>
  <p>&nbsp;&nbsp;</p>
</div>
<div>
  <p>How do we store your data?&nbsp;</p>
</div>
<div>
  <p>
    Community Plus securely stores your data at&nbsp;cloud-based location, secured with certificates and passwords secured with
    hashes.&nbsp;
  </p>
</div>
<div>
  <p>&nbsp;&nbsp;</p>
</div>
<div>
  <p>
    Community Plus will keep your data for 1 year&nbsp;i. Once this&nbsp;time period&nbsp;has expired, we will&nbsp;delete&nbsp;your data by
    removing all your messages and details entered by you.&nbsp;
  </p>
</div>
<div>
  <p>&nbsp;&nbsp;</p>
</div>
<div>
  <p>What are your data protection rights?&nbsp;</p>
</div>
<div>
  <p>
    Community Plus would like to make sure you are fully aware of all of your data protection rights.&nbsp;Every user is entitled to the
    following:&nbsp;
  </p>
</div>
<div>
  <p>&nbsp;&nbsp;</p>
</div>
<div>
  <p>
    The right to access&nbsp;- You have the right to request Community Plus for copies of your personal data.&nbsp;We may charge you a small
    fee for this service.&nbsp;
  </p>
</div>
<div>
  <p>&nbsp;&nbsp;</p>
</div>
<div>
  <p>
    The right to rectification&nbsp;- You have the right to&nbsp;request&nbsp;that Community Plus correct any information you believe is
    inaccurate. You also have the right to request Community Plus to complete information you believe is incomplete.&nbsp;
  </p>
</div>
<div>
  <p>&nbsp;</p>
</div>
<div>
  <p>
    The right to erasure&nbsp;- You have the right to&nbsp;request&nbsp;that Community Plus erase your personal data, under certain
    conditions.&nbsp;
  </p>
</div>
<div>
  <p>&nbsp;&nbsp;</p>
</div>
<div>
  <p>
    The right to restrict processing&nbsp;- You have the right to&nbsp;request&nbsp;that Community Plus restrict the processing of your
    personal data under certain conditions.&nbsp;
  </p>
</div>
<div>
  <p>&nbsp;&nbsp;</p>
</div>
<div>
  <p>
    The right to object to processing&nbsp;- You have the right to object to Community Plus&apos;s processing of your personal data under
    certain conditions.&nbsp;
  </p>
</div>
<div>
  <p>&nbsp;&nbsp;</p>
</div>
<div>
  <p>
    The right to data portability&nbsp;- You have the right to&nbsp;request&nbsp;that Community Plus transfer the data that we have
    collected to another organization, or directly to you, under certain conditions.&nbsp;
  </p>
</div>
<div>
  <p>&nbsp;&nbsp;</p>
</div>
<div>
  <p>
    If you make a request, we have one month to respond to you.&nbsp;If you would like to exercise any of these rights, please contact us at
    our email:&nbsp;<a href="mailto:communitypluslive@gmail.com" target="_blank" rel="noreferrer noopener">communitypluslive@gmail.com</a
    >&nbsp;
  </p>
</div>
<div>
  <p>&nbsp;&nbsp;</p>
</div>
<div>
  <p>What are cookies?&nbsp;</p>
</div>
<div>
  <p>
    Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you
    visit our websites, we may collect information from you automatically through cookies or similar technology.&nbsp;
  </p>
</div>
<div>
  <p>&nbsp;&nbsp;</p>
</div>
<div>
  <p>For further information, visit&nbsp;allaboutcookies.org.&nbsp;</p>
</div>
<div>
  <p>&nbsp;&nbsp;</p>
</div>
<div>
  <p>How do we use cookies?&nbsp;</p>
</div>
<div>
  <p>Community Plus uses cookies in a range of ways to improve your experience on our website, including:&nbsp;</p>
</div>
<div>
  <div>
    <ul>
      <li>
        <p>Keeping you signed in&nbsp;</p>
      </li>
      <li>
        <p>Understanding how you use our website&nbsp;</p>
      </li>
      <li>
        <p>Identity theft protection&nbsp;</p>
      </li>
    </ul>
  </div>
  <div>
    <p>&nbsp;&nbsp;</p>
  </div>
  <div>
    <p>What types of cookies do we use?&nbsp;</p>
  </div>
</div>
<div>
  <div>
    <p>There are several&nbsp;different types&nbsp;of cookies, however, our website uses:&nbsp;</p>
  </div>
  <div>
    <ul>
      <li>
        <p>
          Functionality - Community Plus uses these cookies so that we recognize you on our website and remember your previously selected
          preferences. These could include what language you prefer and your current location. A mix of first-party and third-party cookies
          are used.&nbsp;
        </p>
      </li>
      <li>
        <p>
          Advertising - Community Plus uses these cookies to collect information about your visit to our website, the content you viewed,
          the links you followed and information about your browser, device, and your IP address. Community Plus sometimes shares some
          limited aspects of this data with third parties for advertising purposes. We may also share online data collected through cookies
          with our advertising partners. This means that when&nbsp;you&nbsp;visit&nbsp;another website, you may be shown advertising based
          on your browsing patterns on our website.&nbsp;
        </p>
      </li>
      <li>
        <p>
          Security &ndash; Secures information about your user so that if someone&nbsp;was&nbsp;to steal your cookie it would reject them
          from accessing your profile.&nbsp;
        </p>
      </li>
    </ul>
  </div>
  <div>
    <p>&nbsp;&nbsp;</p>
  </div>
</div>
<div>
  <p>How to manage cookies&nbsp;</p>
</div>
<div>
  <p>
    You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a
    few cases, some of our website features may not function as a result.&nbsp;
  </p>
</div>
<div>
  <p>&nbsp;&nbsp;</p>
</div>
<div>
  <p>Privacy policies of other websites&nbsp;</p>
</div>
<div>
  <p>
    The Community Plus website&nbsp;contains&nbsp;links to other websites. Our privacy policy applies only to our website, so if you click
    on a link to another website, you should read their privacy policy.&nbsp;
  </p>
</div>
<div>
  <p>&nbsp;&nbsp;</p>
</div>
<div>
  <p>Changes to our privacy policy&nbsp;</p>
</div>
<div>
  <p>
    Community Plus keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last
    updated on 13 March 2023.&nbsp;
  </p>
</div>
<div>
  <p>&nbsp;&nbsp;</p>
</div>
<div>
  <p>How to contact us&nbsp;</p>
</div>
<div>
  <p>
    If you have any questions about Community Plus&apos;s privacy policy, the data we hold&nbsp;on&nbsp;you, or you would like to exercise
    one of your data protection rights, please do not hesitate to contact us.&nbsp;
  </p>
</div>
<div>
  <p>&nbsp;&nbsp;</p>
</div>
<div>
  <p>
    Email us at:&nbsp;<a href="mailto:communitypluslive@gmail.com" target="_blank" rel="noreferrer noopener">communitypluslive@gmail.com</a
    >&nbsp;
  </p>
</div>
<div>
  <p>&nbsp;&nbsp;</p>
</div>
<div>
  <p>How to contact the&nbsp;appropriate authority&nbsp;</p>
</div>
<div>
  <p>
    Should you wish to report a complaint or if you feel that Community Plus has not addressed your concern in a satisfactory manner, you
    may contact the Information Commissioner&apos;s Office.&nbsp;
  </p>
</div>
<div>
  <p>&nbsp;&nbsp;</p>
</div>
<div>
  <p>
    Email:&nbsp;<a href="mailto:accessICOinformation@ico.org.uk" target="_blank" rel="noreferrer noopener"
      >accessICOinformation@ico.org.uk</a
    >.&nbsp;
  </p>
</div>
<div>
  <p>Address&nbsp;&nbsp;</p>
</div>
<div>
  <p>
    Information&nbsp;Access Team&nbsp;<br />Information Commissioner&apos;s Office&nbsp;<br />Wycliffe House&nbsp;<br />Water Lane&nbsp;<br />Wilmslow&nbsp;<br />Cheshire&nbsp;<br />SK9
    5AF&nbsp;
  </p>
</div>
