<div>
  <h2 id="page-heading" data-cy="LostFoundHeading" style="text-align: center">
    <span>Lost & Found Page</span>
    <p>
      <font size="3"
        >Welcome to the Lost & Found page. On this page you can find and make reports on missing items to help return them to their rightful
        owners.</font
      >
    </p>
  </h2>
  <h4>Lost Items Catalogue:</h4>

  <div class="row col-12">
    <div class="col-8 d-flex align-items-end">
      <div class="col-3">
        <label>Item</label>
        <input type="text" class="form-control" name="item" id="field_item" data-cy="item" [(ngModel)]="filterItem" />
      </div>
      &nbsp;
      <div class="col-3">
        <label>Date</label>
        <input class="form-control" type="date" id="start" name="trip-start" [(ngModel)]="filterDate" min="2020-01-01" />
      </div>
      &nbsp;
      <div class="col-2">
        <label>Location</label>
        <input type="text" class="form-control" name="item" id="field_item" data-cy="item" [(ngModel)]="filterLocation" />
      </div>

      <div class="col-4">
        <label></label>
        <button id="save-entity" class="btn btn-info" [disabled]="isLoading" (click)="filterBy()">
          <fa-icon icon="search"></fa-icon>
          <span>Search</span>
        </button>

        <button class="btn btn-danger btn-primary" (click)="clearFilters()" [disabled]="isLoading">
          <fa-icon icon="times"></fa-icon>
          <span class="d-none d-md-inline">Clear</span>
        </button>
      </div>
    </div>

    <div class="col-4 d-flex justify-content-end">
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-lost-found"
        [routerLink]="['/lost-found/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Report a Lost Item </span>
      </button>
    </div>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="lostFounds?.length === 0">
    <span>No Lost Founds found</span>
  </div>

  <div class="table-responsive content" id="entities" *ngIf="lostFounds && lostFounds.length > 0">
    <br />
    <mat-grid-list cols="3" rowHeight="2:1" gutterSize="10px">
      <mat-grid-tile *ngFor="let lostFound of lostFounds; trackBy: trackId">
        <mat-grid-tile-header>{{ lostFound.item }}</mat-grid-tile-header>
        <mat-card class="my-card">
          <mat-card-content> {{ lostFound.location }}</mat-card-content>
          <mat-card-content> {{ lostFound.date | formatMediumDate }}</mat-card-content>
        </mat-card>

        <mat-grid-tile-footer>
          <mat-card-actions>
            <button
              mat-button
              type="submit"
              class="btn btn-info btn-sm"
              [routerLink]="['/lost-found', lostFound.id, 'view']"
              data-cy="entityDetailsButton"
            >
              <fa-icon icon="eye"></fa-icon>
              <span class="d-none d-md-inline">View</span>
            </button>

            <button
              mat-button
              type="submit"
              [routerLink]="['/lost-found', lostFound.id, 'edit']"
              class="btn btn-primary btn-sm"
              data-cy="entityEditButton"
            >
              <fa-icon icon="pencil-alt"></fa-icon>
              <span class="d-none d-md-inline">Edit</span>
            </button>

            <button mat-button type="submit" (click)="delete(lostFound)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
              <fa-icon icon="times"></fa-icon>
              <span class="d-none d-md-inline">Delete</span>
            </button>
          </mat-card-actions>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
    <!-- <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="item"><span >Item</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="date"><span >Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="location">
            <span >Location</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lostFound of lostFounds; trackBy: trackId" data-cy="entityTable">
          <td>{{ lostFound.item }}</td>
          <td>{{ lostFound.date | formatGenericDate }}</td>
          <td>{{ lostFound.location }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/lost-found', lostFound.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" >View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/lost-found', lostFound.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" >Edit</span>
              </button>

              <button type="submit" (click)="delete(lostFound)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table> -->
  </div>

  <div *ngIf="lostFounds && lostFounds.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
<style>
  .content {
    padding: 16px;
  }

  .content > mat-card {
    width: 200px;
  }
</style>
