<h1><strong>About Us</strong></h1>

<p style="font-size: large">
  Here at Community Plus, we believe in stronger communities being safer communities.
  <br />With community awareness being a principal belief of ours, we have developed our app<br />
  to put you and us at the centre of bringing about change
  <br />- for the people and places you love and want to keep safe. <br />
</p>

<br />
<br />

<h2>Our mission is to make the world a safer place</h2>

<p style="font-size: large">
  We aim to provide real-time alerts on all crime, local and nationwide, to help people
  <br />stay safe in their communities. Not just us, but you are also a vital part of everything!<br />
  Anyone is able to report a crime or any suspicious activity in their local area,
  <br />and inform, enquire and discuss with other users at the touch of your fingertips.<br />
</p>
