<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
  integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
  crossorigin=""
/>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script
  src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
  integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
  crossorigin=""
></script>

<div class="container-fluid">
  <h1>Community Page</h1>
  <p>Welcome to the Community page. Here you can find Upcoming Events, talk in chatrooms, and view a map of businesses and events.</p>
  <div class="row">
    <h2>Upcoming Events for this week</h2>
    <button (click)="createNewEvent()" type="button" class="btn btn-primary">Add Event</button>
    <ngb-carousel [interval]="5000">
      <ng-template ngbSlide *ngFor="let event of getUpcomingEvents()">
        <img [src]="getImage(event)" alt="Event image" />
        <div class="carousel-caption">
          <h3>{{ event.name }}</h3>
          <p>Description: {{ event.description }}</p>
          <p>Address: {{ event.address }}</p>
          <p>Starts on: {{ event.startDate }}</p>
          <p>Ends on: {{ event.endDate }}</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="row">
    <h2>Chat Rooms</h2>
    <p>Select a chatroom to start talking about an event or business</p>
    <div *ngIf="!currentRoom">
      <h4>Please select a chatroom.</h4>
    </div>
    <div *ngIf="currentRoom">
      <h4>You are currently in the {{ currentRoom }} room.</h4>
    </div>
    <div class="col-md-4">
      <div class="rooms">
        <ul>
          <li *ngFor="let room of chatRooms">
            <button class="btn btn-primary" (click)="joinRoom(room)">{{ room.name }}</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <div class="chatroom">
        <div class="messages">
          <li *ngFor="let message of roomMessages">
            [{{ formatDate(message.sentDate) }}]{{ getUserName(message.postedby) }} : {{ message.content }}
          </li>
        </div>
        <!--
          <input type="text" [(ngModel)]="message" placeholder="Type your message here" (keyup.enter)="onSendMessage()" x-webkit-speech />
        <button class="btn btn-primary" (click)="onSendMessage()">Send</button>
        -->
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Type your message here"
            [(ngModel)]="message"
            (keyup.enter)="onSendMessage()"
          />
          <button class="btn btn-outline-secondary" type="button" (click)="toggleService()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mic" viewBox="0 0 16 16">
              <path
                d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"
              />
              <path d="M10 8a2 2 0 1 1-4 0V3a2 2 0 1 1 4 0v5zM8 0a3 3 0 0 0-3 3v5a3 3 0 0 0 6 0V3a3 3 0 0 0-3-3z" />
            </svg>
          </button>
          <button type="button" class="btn btn-primary" (click)="onSendMessage()">Send</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h2>Map of Businesses and Events</h2>
    <p>Here you can find a map of Businesses and Events. Pressing on the markers shows you more details about the event or business</p>
    <button (click)="createNewBusiness()" type="button" class="btn btn-primary">Add Business</button>
    <div class="map-frame">
      <div id="map" style="height: 400px"></div>
    </div>
  </div>
</div>
