<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <ngb-carousel>
        <ng-template ngbSlide *ngFor="let event of getUpcomingEvents()">
          <img [src]="event.imageUrl" alt="Event image" />
          <div class="carousel-caption">
            <h3>{{ event.name }}</h3>
            <p>Description: {{ event.description }}</p>
            <p>Address: {{ event.address }}</p>
            <p>Starts on: {{ event.startDate }}</p>
            <p>Ends on: {{ event.endDate }}</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="chatroom">
        <h3>Chat Room</h3>
        <div class="messages">
          <div *ngFor="let message of chatMessages">
            {{ message }}
          </div>
        </div>
        <!--  
            <form (submit)="sendMessage()">
              <input type="text" [(ngModel)]="newMessage" placeholder="Type your message here...">
              <button type="submit">Send</button>
            </form>
          -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="map-frame">
      <div id="map" style="height: 400px"></div>
    </div>
  </div>
</div>
