<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
  integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
  crossorigin=""
/>
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script
  src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
  integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
  crossorigin=""
></script>

<div class="container-fluid">
  <h1>Community Page</h1>
  <div class="row">
    <h2>Upcoming Local Events for this week</h2>
    <ngb-carousel [interval]="5000">
      <ng-template ngbSlide *ngFor="let event of getUpcomingEvents()">
        <img [src]="getImage(event)" alt="Event image" />
        <div class="carousel-caption">
          <h3>{{ event.name }}</h3>
          <p>Description: {{ event.description }}</p>
          <p>Address: {{ event.address }}</p>
          <p>Starts on: {{ event.startDate }}</p>
          <p>Ends on: {{ event.endDate }}</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="row">
    <h2>Chat Rooms</h2>
    <div class="col-md-4">
      <div class="rooms">
        <ul>
          <div *ngIf="currentRoom">
            <h4>You are currently in the "{{ currentRoom }}" room.</h4>
          </div>
          <li *ngFor="let room of chatRooms">
            <a (click)="joinRoom(room)">{{ room.name }}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="chatroom">
        <div class="messages">
          <li *ngFor="let message of roomMessages">{{ message.sentDate }}: {{ message.content }}</li>
        </div>
        <input type="text" [(ngModel)]="message" placeholder="Type your message here" />
        <button (click)="onSendMessage()">Send</button>
      </div>
    </div>
  </div>
  <div class="row">
    <h2>Map of local businesses and events</h2>
    <div class="map-frame">
      <div id="map" style="height: 400px"></div>
    </div>
  </div>
</div>
