@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';

.map-frame {
  border: 2px solid lightgrey;
  border-radius: 10px;
  height: 100%;
}
.carousel-caption {
  color: white;
  text-shadow: 2px 2px 2px #523ae8;
  font-weight: bold;
}

p {
  text-align: center;
}
.row {
  margin: auto;
}

ngb-carousel {
  display: block;
  margin: auto;
  padding: 20px;
}

img {
  display: block;
  margin: auto;
  height: 400px;
  width: 50%;
}

h3 {
  font-weight: bolder;
  text-align: center;
}
.messages {
  height: 400px;
  overflow-y: auto;
  width: 100%;
  text-align: left;
}
.chatroom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid lightgrey;
  border-radius: 10px;
  padding: 10px;
}

.messages li {
  list-style: none;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}
.rooms button {
  margin: 2px;
  padding: 10px;
  width: 100%;
  box-shadow: 2px 2px 2px grey;
}
.rooms li {
  list-style: none;
  width: 100%;
}
.rooms {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid lightgrey;
  border-radius: 10px;
  height: 488px;
  overflow-y: auto;
  width: 100%;
  padding: 5px;
}
.row {
  border: 2px solid lightgrey;
  border-radius: 10px;
  box-shadow: 2px 2px 2px grey;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
h1 {
  text-align: center;
}
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.rooms::-webkit-scrollbar {
  width: 8px;
}

.rooms::-webkit-scrollbar-track {
  background: lightgrey;
  border-radius: 10px;
}

.rooms::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}
.messages::-webkit-scrollbar {
  width: 8px;
}

.messages::-webkit-scrollbar-track {
  background: lightgrey;
  border-radius: 10px;
}

.messages::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}
