<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
  integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
  crossorigin=""
/>

<script
  src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
  integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
  crossorigin=""
></script>

<div>
  <h2 id="page-heading" data-cy="EmergencyStationsHeading">
    <!-- <span jhiTranslate="teamprojectApp.emergencyStations.home.title">Emergency Stations</span> -->
    <h1 style="text-align: center"><strong>Emergency Stations</strong></h1>

    <div class="searchHolder">
      <input class="searchBar" id="searchBar" type="text" placeholder="Search location" style="font-size: 60%" (keyup)="onKeyUp($event)" />
      <button class="searchButtons">
        <img src="../../../../content/images/Microphone_Button.png" class="SBImages" style="width: auto" />
      </button>
      <button class="searchButtons">
        <img src="../../../../content/images/Location_Button.png" class="SBImages" style="width: auto" />
      </button>
      <button class="searchButtons" (click)="searchButton()">
        <img src="../../../../content/images/Search_Button.png" class="SBImages" style="width: auto" />
      </button>
    </div>

    <div class="holder" id="holder">
      <div class="filters" id="filters">
        <h2>Filters</h2>
        <div class="filterOptionHolder" style="font-size: 65%">
          <input type="checkbox" id="PSCB" checked (change)="CBChanged()" /><button class="filterButton" id="PSB" (click)="PSButtonPress()">
            Police Stations
          </button>
        </div>
        <div class="filterOptionHolder" style="font-size: 65%">
          <input type="checkbox" id="FSCB" checked (change)="CBChanged()" /><button class="filterButton" id="FSB" (click)="FSButtonPress()">
            Fire Stations
          </button>
        </div>
        <div class="filterOptionHolder" style="font-size: 65%">
          <input type="checkbox" id="HCB" checked (change)="CBChanged()" /><button class="filterButton" id="HB" (click)="HButtonPress()">
            Hospitals
          </button>
        </div>
        <div class="filterOptionHolder" style="font-size: 65%">
          <input type="checkbox" id="PCB" checked (change)="CBChanged()" /><button class="filterButton" id="PB" (click)="PButtonPress()">
            Pharmacies
          </button>
        </div>
      </div>

      <div class="map" id="map"></div>
      <!-- <app-map-input (coordinatesChanged)="onCoordinatesChanged($event)" ></app-map-input> -->
    </div>
  </h2>
</div>
