<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="crimeAlert" class="crime-alert-container">
      <div class="crime-alert-header">
        <h2 class="crime-alert-title" data-cy="crimeAlertDetailsHeading">
          <span>{{ crimeAlert.title }}</span>
        </h2>
        <span class="crime-alert-postedby">{{ crimeAlert.postedby?.login }}</span>
      </div>

      <jhi-alert-error></jhi-alert-error>
      <jhi-alert></jhi-alert>

      <dl class="crime-alert-details">
        <dt><span jhiTranslate="teamprojectApp.crimeAlert.description">Description</span></dt>
        <dd>
          <span>{{ crimeAlert.description }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.crimeAlert.location">Location</span></dt>
        <dd>
          <span>{{ address }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.crimeAlert.date">Date</span></dt>
        <dd>
          <span>{{ crimeAlert.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="teamprojectApp.crimeAlert.crimeType">Crime Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'teamprojectApp.CrimeTypes.' + crimeAlert.crimeType }}">{{ crimeAlert.crimeType }}</span>
        </dd>
      </dl>

      <div class="crime-alert-images d-flex flex-wrap justify-content-center">
        <ng-container *ngFor="let image of [crimeAlert.crimePhoto1, crimeAlert.crimePhoto2, crimeAlert.crimePhoto3]; let i = index">
          <div *ngIf="image" class="crime-alert-image">
            <a (click)="openFile(image, getCrimePhotoContentType(i))">
              <img [src]="'data:' + getCrimePhotoContentType(i) + ';base64,' + image" style="width: 100%" alt="crimeAlert image" />
            </a>
          </div>
        </ng-container>
      </div>
      <div class="comment-section">
        <h3 class="comment-section-title">Comments</h3>
        <div *ngFor="let comment of comments" class="comment">
          <strong class="comment-author">{{ comment.user?.login }}</strong
          >: {{ comment.comment }}
          <small class="comment-date">{{ comment.date | formatMediumDatetime }}</small>
        </div>

        <form [formGroup]="commentForm" (ngSubmit)="submitComment()" class="comment-form">
          <div class="form-group">
            <label for="comment" class="sr-only">Add a comment</label>
            <textarea formControlName="comment" id="comment" class="form-control" rows="3" placeholder="Add a comment"></textarea>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!commentForm.valid">Submit</button>
        </form>
      </div>

      <div class="d-flex justify-content-between">
        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/crime-alert', crimeAlert.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    </div>
  </div>
</div>
