<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
  integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
  crossorigin=""
/>

<script
  src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
  integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
  crossorigin=""
></script>

<div>
  <h2 id="page-heading" data-cy="EmergencyStationsPageHeading">
    <!-- <span jhiTranslate="teamprojectApp.emergencyStationsPage.home.title">Emergency Stations</span> -->
    <h1 style="text-align: center"><strong>Emergency Stations</strong></h1>

    <br />

    <div class="searchHolder">
      <input class="searchBar" type="search" placeholder="Search location" style="font-size: 60%" />
      <button class="searchButtons">
        <img src="../../../content/images/Microphone_Button.png" class="SBImages" style="width: auto" />
      </button>
      <button class="searchButtons"><img src="../../../content/images/Location_Button.png" class="SBImages" style="width: auto" /></button>
      <button class="searchButtons"><img src="../../../content/images/Search_Button.png" class="SBImages" style="width: auto" /></button>
    </div>

    <br />
    <br />

    <div class="holder" id="holder">
      <div class="filters" id="filters">
        <h2>Filters</h2>
        <div class="filterOptionHolder" style="font-size: 65%"><input type="checkbox" /> Police Stations</div>
        <div class="filterOptionHolder" style="font-size: 65%"><input type="checkbox" /> Fire Stations</div>
        <div class="filterOptionHolder" style="font-size: 65%"><input type="checkbox" /> Hospitals</div>
        <div class="filterOptionHolder" style="font-size: 65%"><input type="checkbox" /> Pharmacies</div>
      </div>

      <div class="map" id="map"></div>
    </div>

    <br />

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="teamprojectApp.emergencyStationsPage.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-emergency-stations-page"
        [routerLink]="['/emergency-stations-page/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="teamprojectApp.emergencyStationsPage.home.createLabel"> Create a new Emergency Stations Page </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="emergencyStationsPages?.length === 0">
    <span jhiTranslate="teamprojectApp.emergencyStationsPage.home.notFound">No Emergency Stations Pages found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="emergencyStationsPages && emergencyStationsPages.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.emergencyStationsPage.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="stationType">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.emergencyStationsPage.stationType">Station Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="latitude">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.emergencyStationsPage.latitude">Latitude</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="longitude">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.emergencyStationsPage.longitude">Longitude</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let emergencyStationsPage of emergencyStationsPages; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/emergency-stations-page', emergencyStationsPage.id, 'view']">{{ emergencyStationsPage.id }}</a>
          </td>
          <td>{{ emergencyStationsPage.name }}</td>
          <td>{{ emergencyStationsPage.stationType }}</td>
          <td>{{ emergencyStationsPage.latitude }}</td>
          <td>{{ emergencyStationsPage.longitude }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/emergency-stations-page', emergencyStationsPage.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/emergency-stations-page', emergencyStationsPage.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(emergencyStationsPage)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
