<script src="https://unpkg.com/supercluster@7.1.2/dist/supercluster.min.js"></script>
<div id="map" style="height: 400px"></div>
<div>
  <h2 id="page-heading" data-cy="CrimeAlertHeading">
    <span jhiTranslate="teamprojectApp.crimeAlert.home.title">Crime Alerts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="teamprojectApp.crimeAlert.home.refreshListLabel">Refresh list</span>
      </button>
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="teamprojectApp.crimeAlert.home.ListViewListLabel">Open/Close list view</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-crime-alert"
        [routerLink]="['/crime-alert/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="teamprojectApp.crimeAlert.home.createLabel"> Create a new Crime Alert </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="crimeAlerts?.length === 0">
    <span jhiTranslate="teamprojectApp.crimeAlert.home.notFound">No Crime Alerts found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="crimeAlerts && crimeAlerts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="title">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.crimeAlert.title">Title</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.crimeAlert.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lat">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.crimeAlert.lat">Lat</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lon">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.crimeAlert.lon">Lon</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="date">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.crimeAlert.date">Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="crimeID">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.crimeAlert.crimeID">Crime ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="typeOfCrime">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.crimeAlert.typeOfCrime">Type Of Crime</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="postedby.login">
            <div class="d-flex">
              <span jhiTranslate="teamprojectApp.crimeAlert.postedby">Postedby</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let crimeAlert of crimeAlerts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/crime-alert', crimeAlert.id, 'view']">{{ crimeAlert.id }}</a>
          </td>
          <td>{{ crimeAlert.title }}</td>
          <td>{{ crimeAlert.description }}</td>
          <td>{{ crimeAlert.lat }}</td>
          <td>{{ crimeAlert.lon }}</td>
          <td>{{ crimeAlert.date | formatMediumDatetime }}</td>
          <td>{{ crimeAlert.crimeID }}</td>
          <td jhiTranslate="{{ 'teamprojectApp.CrimeTypes.' + crimeAlert.crimeType }}">{{ crimeAlert.crimeType }}</td>
          <td>
            {{ crimeAlert.postedby?.login }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/crime-alert', crimeAlert.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/crime-alert', crimeAlert.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
                *ngIf="accountService.hasAnyAuthority(['ROLE_ADMIN'])"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button
                type="submit"
                (click)="delete(crimeAlert)"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
                *ngIf="accountService.hasAnyAuthority(['ROLE_ADMIN'])"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
