<script src="https://unpkg.com/supercluster@7.1.2/dist/supercluster.min.js"></script>
<div>
  <h2 id="page-heading" style="text-align: center" data-cy="CrimeAlertHeading">
    <span jhiTranslate="teamprojectApp.crimeAlert.home.title">Crime Alerts</span>
  </h2>
  <div class="d-flex justify-content-end">
    <div class="button-container">
      <button class="left-button" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="teamprojectApp.crimeAlert.home.refreshListLabel">Refresh list</span>
      </button>
      <button class="inner-button" (click)="toggleView(!isListView)">
        <fa-icon [icon]="isListView ? 'map' : 'list'"></fa-icon>
        <span>{{ isListView ? 'View as Map' : 'View as List' }}</span>
      </button>

      <button id="jh-create-entity" data-cy="entityCreateButton" class="right-button" [routerLink]="['/crime-alert/new']">
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="teamprojectApp.crimeAlert.home.createLabel"> Create a new Crime Alert </span>
      </button>
    </div>
  </div>
  <jhi-alert-error></jhi-alert-error>
  <form (ngSubmit)="applyFilters()" #filterForm="ngForm">
    <div class="row">
      <div class="col-md-3">
        <label for="startDate">Start Date</label>
        <input type="date" id="startDate" name="startDate" [(ngModel)]="startDate" class="form-control" />
      </div>
      <div class="col-md-3">
        <label for="endDate">End Date</label>
        <input type="date" id="endDate" name="endDate" [(ngModel)]="endDate" class="form-control" />
      </div>
      <div class="col-md-3">
        <label for="crimeType">Crime Type</label>
        <select id="crimeType" name="crimeType" [(ngModel)]="selectedCrimeType" class="form-control">
          <option [ngValue]="null">All</option>
          <option *ngFor="let crimeTypeDisplay of crimeTypeDisplays" [ngValue]="crimeTypeDisplay.url">{{ crimeTypeDisplay.name }}</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="postedBy">Posted By</label>
        <input type="text" id="postedBy" name="postedBy" [(ngModel)]="postedBy" class="form-control" />
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12 d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Apply Filters</button>
      </div>
    </div>
  </form>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="crimeAlerts?.length === 0">
    <span jhiTranslate="teamprojectApp.crimeAlert.home.notFound">No Crime Alerts found</span>
  </div>
  <div id="modal" class="modal">
    <div class="modal-content">
      <div class="modal-footer">
        <button class="modal-close waves-effect waves-green btn-flat">Close</button>
      </div>
      <ul id="crimes-list"></ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" *ngIf="isListView">
      <div class="table-responsive table-entities" id="entities" *ngIf="isListView && crimeAlerts && crimeAlerts.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
          <tbody
            infinite-scroll
            (scrolled)="loadPage(page + 1)"
            [infiniteScrollDisabled]="page - 1 >= links['last']"
            [infiniteScrollDistance]="0"
          >
            <div class="row">
              <div *ngFor="let crimeAlert of crimeAlerts; trackBy: trackId" class="col-md-4 my-3">
                <div class="card">
                  <img
                    *ngIf="crimeAlert.crimePhoto1"
                    [src]="'data:' + crimeAlert.crimePhoto1ContentType + ';base64,' + crimeAlert.crimePhoto1"
                    class="card-img-top"
                    alt="crimeAlert image"
                  />
                  <div class="card-body">
                    <h5 class="card-title">{{ crimeAlert.title }}</h5>
                    <p class="card-text" [ngClass]="getCrimeTypeClass(crimeAlert.crimeType)">
                      {{ getCrimeTypeDisplay(crimeAlert.crimeType) }}
                    </p>

                    <p class="card-text">{{ crimeAlert.description }}</p>
                    <p class="card-text">
                      <small class="text-muted">{{ crimeAlert.date | formatMediumDatetime }}</small>
                    </p>
                    <a [routerLink]="['/crime-alert', crimeAlert.id, 'view']" class="btn btn-primary">View Details</a>
                  </div>
                </div>
              </div>
            </div>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf="isLoading && isListView" class="loading-spinner d-flex justify-content-center">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div>
    <div class="col-md-12" *ngIf="!isListView" style="position: relative">
      <!-- Map view markup goes here -->
      <div *ngIf="!isListView" id="map" style="height: 600px; width: 100%; border-radius: 0 0 25px 25px; border: 0.15em"></div>

      <!-- Loading overlay markup -->
      <div *ngIf="isLoading" class="loading-overlay">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>
