.summary {
  font-family: Arial, sans-serif;
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.summary p {
  margin: 0 0 5px;
}

.summary-title {
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
  width: 100%;
  margin-bottom: 1rem; /* Adjust this value to add more or less spacing below the buttons */
}

.inner-button {
  border-radius: 25px 25px 0px 0px;
  background-color: rgb(173, 173, 16);
}

.left-button {
  border-radius: 25px 0 0 0px;
  background-color: rgb(18, 167, 18);
}

.right-button {
  border-radius: 0 25px 0px 0;
  background-color: rgb(255, 67, 67);
}
.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.all-crime {
  color: #3f51b5;
}

.anti-social-behaviour {
  color: #f44336;
}

.bicycle-theft {
  color: #e91e63;
}

.burglary {
  color: #9c27b0;
}

.criminal-damage-arson {
  color: #673ab7;
}

.drugs {
  color: #3f51b5;
}

.other-theft {
  color: #2196f3;
}

.possession-of-weapons {
  color: #03a9f4;
}

.public-order {
  color: #00bcd4;
}

.robbery {
  color: #009688;
}

.shoplifting {
  color: #4caf50;
}

.theft-from-the-person {
  color: #8bc34a;
}

.vehicle-crime {
  color: #cddc39;
}

.violence-and-sexual-offences {
  color: #ffeb3b;
}

.other-crime {
  color: #ffc107;
}

.centered-list {
  list-style-type: none; /* Removes bullets */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the list items horizontally */
  padding: 0; /* Removes default padding */
}

.centered-list li {
  width: 100%;
  text-align: center; /* Centers the text in each list item */
}
.modal {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.left-section,
.right-section {
  width: 45%;
}

.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary-image {
  max-width: 100%;
  height: auto;
}
.modal-body {
  display: flex;
  justify-content: space-between;
}
.selected {
  border: 2px solid #000; /* adjust border width and color as needed */
}
